{% extends 'blog/base.html' %}

{% block title %}Головна - Мій Блог{% endblock %}

{% block content %}
    <h2>Останні статті</h2>
    {% for article in latest_articles %}
        <div class="article">
            <h3><a href="{% url 'article-detail' article.pk %}">{{ article.title }}</a></h3>
            <p>Автор: {{ article.author.username }} | Дата: {{ article.publication_date }}</p>
        </div>
    {% empty %}
        <p>Ще немає жодної опублікованої статті.</p>
    {% endfor %}
{% endblock %}